@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Monsieur+La+Doulaise&family=WindSong:wght@400;500&display=swap&family=Shadows+Into+Light&display=swap');



body{
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.6;
   text-align: center;
   background-image: url(astronaut-3840x2160-23207.png);
   background-repeat:no-repeat;
   background-position: center;
   background-attachment:fixed;
   background-size: cover;
}

h1{
    font-family: "WindSong", cursive;
    color: rgb(240, 238, 238);
}

h2 {
  color: aliceblue;
  text-align: center;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 80%;              
  margin: 0px auto;          
  color: aliceblue;
  padding-bottom: 20px;
}


td {
  background-color: rgba(55, 54, 54, 0.495);
  border: 0px inset #cccccc74;
  border-radius: 4px;
  padding: 15px;
  text-align: center;       
  vertical-align: middle;
}

video, iframe {
  width: 320px;
  height: 180px;
  display: block;
  margin: 0 auto;          
}




footer{
    background: rgba(22, 22, 22, 0.425);
    margin-top: -150px;
    color: aliceblue;
    font-family: "Shadows Into Light", cursive;
    position: fixed;
    width: 100%;
    bottom: 0;
}


@media (max-width: 600px) {
    nav ul li{
        display: inline-block;
        margin: 5px;
        word-spacing: 1px;
    }
    body{
        word-spacing: 2px;
    }
}
